.mdl-layout__content {
  background: #EEE;
}
.page-content {
  padding: 8px;
  white-space: nowrap;
}
.page-content .mdl-card {
  display: block;
  width: auto;
  height: auto;
  min-height: 0;
  margin: 8px;
}
#page-content-1, #page-content-2 { width: 50%; display: inline-block; vertical-align: top;  }
@media screen and (max-width: 800px) {
  #page-content-1, #page-content-2 {
    display: block;
    width: auto;
  }
}
